<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Clean URL mayorista" stopProcessing="true">
          <match url="^mayorista/?$" />
          <action type="Rewrite" url="mayorista.html" />
        </rule>
        <rule name="Clean URL historial" stopProcessing="true">
          <match url="^historial/?$" />
          <action type="Rewrite" url="historial.html" />
        </rule>
        <rule name="Clean URL admin" stopProcessing="true">
          <match url="^admin/?$" />
          <action type="Rewrite" url="admin.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>